[user]
  name = Alan J. Ferguson
  email = alan@ferguson.info
[init]
  defaultBranch = main
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
  ui = true
[push]
  recurseSubmodules = check
[pull]
  rebase = false
[rerere]
  enabled = true
[rebase]
  autosquash = true
  updateRefs = true
[alias]
  commit-reuse = ! git commit -eF $(git rev-parse --git-dir)/COMMIT_EDITMSG
[url "ssh://git@github.com/"]
  insteadof = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadof = https://gitlab.com/
